*{
    box-sizing: border-box;
}
.titulo{
    
    display: flex;
    align-items: center;
}
.galery_column{
    float: left;
    width: 33.33%;
    padding: 5px;
}
.galery_row::after{
    content: "";
    clear: both;
    display: table;
}